.transaction-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #121212; 
  color: #f1f1f1; 
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

/* Style for individual cards */
.transaction-card {
  background-color: #1e1e1e; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  max-width: 360px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0 auto; 
}

.header { 
  text-align: center;
  text-decoration: underline;
}

/* Text styling within the card */
.transaction-card p {
  margin: 0 0 10px;
  color: #f1f1f1; 
}


.transaction-card p:last-child {
  margin-bottom: 0;
}

/* Hover effect for cards */
.transaction-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
